# prisma database connection
DATABASE_URL=<prisma database connection url>
DIRECT_URL=<prisma database direct connection url>

# next-auth
NEXTAUTH_URL=<application url>
NEXTAUTH_SECRET=<secret key>

# google oauth
GOOGLE_OAUTH_CLIENT_ID=<google oauth client id>
GOOGLE_OAUTH_CLIENT_SECRET=<google oauth client secret>

# openai api key
OPENAI_API_KEY=<>

# postgresql
POSTGRES_DB=<postgres database name>
POSTGRES_USER=<postgres user>
POSTGRES_PASSWORD=<postgres password>